.hh{
    font-family: 'Romanesco', cursive;
    
}
.pp{
    
  font-family: "Bad Script", cursive;
}
.ll{
    font-family: "Romanesco", cursive;
    font-size: 60px;
}
.kp{
  font-family: "Stylish", serif;
}
.desc{
  font-weight: 900;
}
.tt{
  font-family: "Emilys Candy", serif;
}
.bg-white{
  border-radius: 7px;
}
.nn{
     border-radius: 25px;
     padding: 9px;
}
.upl{
  border-radius: 25px;
}
/* .blur{
  filter: blur(4px);

} */

.hed{
  font-family: "Pattaya", sans-serif;
  color: rgb(1, 39, 17);
}
.pc{
  font-family: "Pacifico", cursive;
 
}
.pph{

    width: 600px;
    fill: none;
    background: transparent;
    border: none;
    /* border-bottom: 1px solid grey; */
    font-size: 18px;
    margin-bottom: 16px;
    font-family: "Bad Script", cursive;
}
.mto{
  background: transparent;
  border: none;
  border-bottom: 1px solid grey;
}
.without, input[type="submit"] {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.mtop{
  background: transparent;
  border: none;
  fill: none;
  border-bottom: 1px solid grey;
}